@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-y: scroll;
  scrollbar-gutter: stable both-edges;
  @apply bg-semiLight dark:bg-dark
}

/* CUSTOM CURSORBAR */
*::-webkit-scrollbar-track
{
	background-color: transparent;
}

*::-webkit-scrollbar
{
	width: 8px;
}

*::-webkit-scrollbar-thumb
{
  @apply bg-gray-400 dark:bg-[#E1E5EA] rounded-full  
}


.font-azonix {
  font-family: var(--font-unbounded);
}
.boxWidth{
  @apply w-[1366px] max-w-[1366px]
}
.flexCenter{
  @apply flex justify-center items-center
}
.flexBetween{
  @apply flex justify-between items-center
}
.flexColumn{
  @apply flex flex-col justify-center items-center
}

.grid-layout {
  display: grid;
}

.toggle-transition {
  transition: transform .3s ease-in-out;
}

.text-area[contenteditable]:empty::before {
  content: attr(data-content);
}

